/* FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

button{
  cursor: pointer;
}

/* HEADER */
nav{
  background-color: #0d325a;
  height: 80px;
}

.container-nav{
  width: 75%;
  height: 100%;
  position: relative;
  padding: 10px 40px;
  margin: auto;
}

.logo{
  float: left;
  height: 40px;
  width: 120px;
  margin-top: 10px;
}

.navbar-main{
  margin-left: 60px;
  float: left;
  margin-top: 25px;
}

.navbar-sec{
  margin-left: 20px;
  float: right;
  margin-top: 25px;
}

li.navlink{
  display: inline-block;
  margin-left: 5px;
}

.navlink a:hover{
  color: #f8b71c;
}

a{
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.tutor{
  color: rgba(255,255,255,.5);
}

button{
  color: white;
  font-size: 11px;
  border-radius: 5px;
  margin-left: 5px;
}

button[name="login"]{
  background-color: #0d325a;
  width: 85px;
  height: 30px;
  border: 1px solid #4e8cb6;
}

.btn-green{
  background-color: #7fb802;;
  width: 140px;
  height: 30px;
  border: 1px solid #7fb802;
}

/* MAIN */


/* PRIMO BLOCCO */
.blue{
  background-color: #0d325a;
  height: 500px;
}

.big{
  height: 420px;
  padding-left: 15%;
  padding-top: 100px;
  background-image: url(img/oldman.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}

.titolo{
  width: 50%;
 color: white;
 font-size: 30px;
}

.btn-green-big{
  background-color: #7fb802;;
  width: 180px;
  height: 40px;
  border: 1px solid #7fb802;
  font-size: 12px;
  margin-top: 40px;
}

.small{
  height: 150px;
}

/* SECONDO BLOCCO */
.grey{
  background-color: #f9f9f9;
  text-align: center;
}

.grey p:first-child{
  font-size: 24px;
  padding: 40px 0 10px 0;
}

.grey p:nth-child(2){
  font-size: 18px;
}




/* TERZO BLOCCO */
.white{
  position: relative;
}

.white:nth-child(3),.white:nth-child(7) {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

/* SEZIONE A 3 */
.container{
  padding: 0 10%;
  position: relative;
  text-align: center;
}

.container:after{
  content: "";
  display: table;
  clear: both;
}

.widget-small{
  width: calc(100% / 3);
  float: left;
  padding: 50px 20px;
  text-align: center;
}

.img-small{
  height: 150px;
  width: auto;
  margin: 20px;
}

h3{
  font-size: 19px;
  color: #7fb802;
  margin: 50px;
}

.widget-small p{
  font-size: 15px;
  color: #999;
  line-height: 1.5em;
}



/* SEZIONE A 2 */
.widget-med{
  width: 50%;
  height: 500px;
  float: left;
  padding: 50px 20px;
  text-align: center;
}

.img-med{
  height: 350px;
  width: auto;
}

.wrapper-med{
  text-align: left;
  padding: 30px 70px;
}

h2{
  font-size: 28px;
  /* padding: 20px; */
  line-height: 1.5em;
}

.wrapper-med p{
  font-size: 18px;
  color: #999;
  padding: 20px;
}

.wrapper-med a{
  font-size: 16px;
  color: #98c8f8;
  padding: 20px;
  text-decoration: underline;
}


/* QUARTO BLOCCO */
.widget-grey{
  width: 50%;
  height: 150px;
  float: left;
  line-height: 150px;
}

.widget-grey h2{
  line-height: 150px;
}

.light-grey{
  color: #b2b2b2;
  font-size: 26px;
}

.btn-green-bigger{
  background-color: #7fb802;;
  width: 220px;
  height: 40px;
  border: 1px solid #7fb802;
  font-size: 17px;
  margin-top: 40px;
  font-weight: bold;
}



/* QUINTO BLOCCO */
.widget-60{
  width: 60%;
}

.widget-40{
  width: 40%;
  padding-left: 80px
}

.text-left{
  text-align: left;
  padding-left: 120px;
  padding-top: 100px;
}

.white{
  color: #fff;
}

.orange{
  color: #f8b71c;
}

.text-left p{
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
  line-height: 1.5em;
}

.text-left a{
  color: #98c8f8;
  text-decoration: underline;
  font-size: 16px;
}



/* SESTO BLOCCO */
.img-shake{
  width: 80%;
}

.black{
  color: #4a4a4a;
}

.shake-left{
  text-align: left;
  /* padding-left: 150px; */
}

.wrapper-shake p{
  padding: 40px 0;
  font-size: 15px;
}

.btn-shake{
  float: left;
  width: 40%;
  margin: 0;
  font-size: 13px;
}

.text-small-blue p{
  text-align: center;
  font-size: 14px;
  color: #a7d0f9;
  padding: 0;
  width: 40%;
  float: right;
}


/* SETTIMO BLOCCO */
.set{
  margin: auto;
  text-align: center;
  height: 500px;
  width: 35%;
  padding: 40px 0;
}

.green{
  color: #7fb802;
}

.set p{
  font-size: 18px;
  padding: 10px;
}

.set p.piccolo{
  font-size: 14px;
  padding: 10px;
  opacity: .6;
}

.set a{
  text-decoration: underline;
  color: #98c8f8;
  font-size: 16px;
}


/* OTTAVO BLOCCO */
.big-2{
  background-image: url(img/talking.png);
  background-size: 45%;
}

.talking{
  width: 40%;
}

.talking p{
  color: #fff;
  opacity: .5;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 100px;
}


/* NONO BLOCCO */
.container-small{
  width: 70%;
  margin: auto;
}

.container-small h2{
  font-size: 30px;
  padding-top: 30px;
}

.container-small p{
  padding: 20px 0;
  font-size: 14px;
  line-height: normal;
}

.container-small a{
  text-decoration: underline;
  font-size: 16px;
  margin-top: 10px;
}

.container-small .widget-small{
  text-align: left;
  padding: 50px 10px;
}

.icon{
  width: 37px;
  height: auto;
}

h5{
  font-size: 18px;
  color: #373a3c;
  margin-top: 20px;
}

.widget-mini{
  height: 180px;
  margin-bottom: 10px;
}

.bord-blue{
  border-bottom: 5px solid #98c8f8;
}

.text-blue{
  color: #98c8f8;
}

.bord-orange{
  border-bottom: 5px solid #f8b71c;
}

.text-orange{
  color: #f8b71c;
}

.bord-green{
  border-bottom: 5px solid #7fb802;
}

.text-green{
  color: #7fb802;
}


/* ULTIMO */
.last{
  padding-left: 15%;
  padding-top: 30px;
}

.last p{
  color: #fff;
  opacity: .5;
}

/* FOOTER */
footer{
  background-color: #17406b;
  height: 400px;
  padding: 50px 15%;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

#contatti{
  float: left;
}

h4{
  color: #fff;
  font-size: 12px;
  padding-bottom: 5px;
}

.link-footer{
  list-style: none;
  text-decoration: none;
  color: #fff;
  opacity: .5;
  padding: 10px 0;
}

.link-footer a{
  font-size: 16px;
}

.link-footer a:hover{
  text-decoration: underline;
}

#info{
  float: right;
  text-align: right;
  margin-right: 15%;
}

#info p{
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#info p:last-child{
  color: #fff;
  opacity: .5;
  font-weight: normal;
}
